@import 'tailwindcss';
@import './components/button.css';

@layer base {
  html {
    box-sizing: border-box;
    height: screen;
    margin: auto;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    color: white;
  }
}
@theme {
  --color-primary: var(--color-orange-500);
  --color-secondary: var(--color-emerald-200);
}
